
:root {
    --white: #ffffff;
    --black: #121212;
    --text-color: #45474f;
    --bg-color: #f5f5f5;
    --link-color-hover: #9ec5fe;
    --search-bg: #f0f2f5;
    --search-border: #e0e3e7;
    --search-placeholder: #a0a4a8;
    --accent-blue: #409AC7;
    --lightest-gray: #EAEAEC;
    --light-gray: #92949F ;
    --body-bg: #EFF3F9;
    /* Тёмная тема (подключишь через класс в будущем) */
    --dark-bg: #1e1e1e;
    --dark-text: #dcdcdc;
}
  
@font-face {
    font-family: 'text1';
    src: url('assets/fonts/OpenSans-Medium') format('truetype');
}

  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    color: var(--white);
    font-family: 'text1', sans-serif;
}

  
a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
  
a:hover {
    color: var(--accent-blue);
}
  
.app {
    display: flex;
    gap: 30px;
}
  
.container {
    flex: 1;
    padding-right: 30px;
    max-width: calc(100vw - 8rem - 30px);
}