.weather-slider {
    display: flex;
    gap: 2rem;
    background-color: var(--accent-blue);
    border-radius: 1rem;
    padding: 1rem;
    justify-content: center;
}
.current-weather-img {
    width: 6rem;
}

.city-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.type-weather {
    color: var(--lightest-gray);
}
.temperature {
    font-size: 3rem;
}

.weather-days {
    display: flex;
    color: var(--black);
    gap: 1rem;
    padding: 10px 0;
}
.day-card {
    background-color: var(--white);
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.65rem;
    width: 16rem;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-img-card {
    width: 3rem;

}
.degree {
    font-size: 2rem;
}

.weather-description {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.day {
    font-weight: 600;
}
.desc {
    color: var(--light-gray);
}


.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white);
    font-size: 1.2rem;
    height: 100px;
}